<script setup>
import { computed, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { resetBreadcrumbs, addBreadcrumb } from '../utils/breadcrumbs'
import { useStore } from '@/stores/main'

onMounted(() => {
  resetBreadcrumbs()
  addBreadcrumb('Add Game')
})

const store = useStore()
const router = useRouter()

const gameDetails = ref({
  name: '',
  players: []
})

const addPlayer = function () {
  gameDetails.value.players.push({ name: '' })
}

const removePlayer = function (index) {
  gameDetails.value.players.splice(index, 1)
}

const addGame = function () {
  store.addGame(gameDetails.value)
  router.push('/')
}

const cancel = function () {
  if (confirm('Cancel adding game?')) {
    router.push('/')
  }
}
</script>

<template>
  <div class="page-header">
    <h2 class="page-title">Add Game</h2>
  </div>
  <form @submit.prevent="addGame" class="data-form">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" v-model="gameDetails.name" />
    </div>
    <div class="field">
      <label for="players">Players</label>
      <div class="field-item" v-for="(player, index) in gameDetails.players">
        <input type="text" v-model="player.name" :key="index" />
        <button @click.prevent="removePlayer(index)">Remove</button>
      </div>
      <button @click.prevent="addPlayer">Add Player</button>
    </div>
    <div class="actions">
      <input type="submit" value="Save" />
      <button class="cancel" @click.prevent="cancel">Cancel</button>
    </div>
  </form>
</template>
