<script setup>
import { computed, onMounted } from 'vue'
import { resetBreadcrumbs } from '../utils/breadcrumbs'
import { RouterLink } from 'vue-router'
import { useStore } from '@/stores/main'
import { gamePath, gameTitle } from '../utils/helpers'

onMounted(() => {
  resetBreadcrumbs()
})

const store = useStore()

const games = computed(() => {
  let list = []

  for (const [id, game] of Object.entries(store.games)) {
    list.push(game)
  }

  return list.sort((a, b) => {
    const aDate = new Date(a.createdAt)
    const bDate = new Date(b.createdAt)

    if (bDate > aDate) {
      return 1
    }

    if (aDate > bDate) {
      return -1
    }

    return 0
  })
})
</script>

<template>
  <div class="page-header">
    <h2 class="page-title">Games</h2>
    <div class="page-actions">
      <RouterLink to="/games/new" class="button-link">Add Game</RouterLink>
    </div>
  </div>
  <ul class="games-list">
    <li v-for="game in games">
      <RouterLink :to="gamePath(game)">{{ gameTitle(game) }}</RouterLink>
    </li>
  </ul>
</template>

<style scoped>
.games-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.games-list li {
  margin: 0 0 10px 0;
  padding: 0;
}

.games-list a {
  text-decoration: none;
}

.games-list a:hover {
  text-decoration: underline;
}
</style>
