<script setup>
import { computed, onMounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { resetBreadcrumbs, addBreadcrumb } from '../utils/breadcrumbs'
import { gamePath, gameTitle } from '../utils/helpers'
import { useStore } from '@/stores/main'

const store = useStore()
const route = useRoute()
const router = useRouter()
const game = store.games[route.params.id]
const shouldShowRoundForm = ref(false)
const formMode = ref('')
const updatedRoundId = ref('')
const playersLosses = ref({})

onMounted(() => {
  resetBreadcrumbs()
  addBreadcrumb(gameTitle(game))
})

const rounds = computed(() => {
  return Object.entries(game.rounds)
})

const roundCellClass = function (round, player) {
  if (round[player.name].gain > 0) {
    return 'won'
  }

  return 'lost'
}

const roundLoss = function (round, player) {
  return round[player.name].loss
}

const totalGainsByPlayer = computed(() => {
  let gains = {}

  Object.values(game.rounds).forEach((round) => {
    for (const player in round) {
      if (gains[player] === undefined) {
        gains[player] = 0
      }

      gains[player] += round[player].gain
    }
  })

  return gains
})

const totalGain = function (player) {
  return totalGainsByPlayer.value[player.name]
}

const gainCellClass = function (player) {
  if (totalGain(player) > 0) {
    return 'won'
  }

  return 'lost'
}

const deleteGame = function () {
  if (confirm('Delete game?')) {
    store.deleteGame(game.id)
    router.push('/')
  }
}

const showAddRoundForm = function () {
  shouldShowRoundForm.value = true
  formMode.value = 'add'
  updatedRoundId.value = ''
  playersLosses.value = {}
}

const showEditRoundForm = function (roundId) {
  shouldShowRoundForm.value = true
  formMode.value = 'edit'
  updatedRoundId.value = roundId

  for (const player in game.rounds[roundId]) {
    playersLosses.value[player] = game.rounds[roundId][player].loss
  }
}

const isEditing = computed(() => {
  return formMode.value == 'edit'
})

const roundFormTitle = computed(() => {
  if (isEditing.value) {
    return 'Edit Round'
  }

  return 'Add Round'
})

const resetPlayersLosses = function () {
  shouldShowRoundForm.value = false
  formMode.value = ''
  updatedRoundId.value = ''
  playersLosses.value = {}
}

const updatePlayerLoss = function (name, loss) {
  playersLosses.value[name] = loss
}

const saveRound = function () {
  if (formMode.value == 'add') {
    store.addRound(game.id, playersLosses.value)
  } else if (formMode.value == 'edit') {
    store.updateRound(game.id, updatedRoundId.value, playersLosses.value)
  }

  resetPlayersLosses()
}

const cancel = function () {
  if (confirm('Cancel adding round?')) {
    resetPlayersLosses()
  }
}

const deleteRound = function () {
  if (confirm('Delete round?')) {
    store.deleteRound(game.id, updatedRoundId.value)
    resetPlayersLosses()
  }
}
</script>

<template>
  <div class="page-header">
    <h2 class="page-title">{{ gameTitle(game) }}</h2>
    <div class="page-actions">
      <button @click.prevent="showAddRoundForm">Add Round</button>
      <button @click.prevent="deleteGame" class="delete">Delete Game</button>
    </div>
  </div>
  <table class="data-table">
    <thead>
      <tr>
        <th>Player</th>
        <th
          class="round"
          @click.prevent="showEditRoundForm(id)"
          v-for="([id, round], index) of rounds"
        >
          {{ index + 1 }}
        </th>
        <th>Gain</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="player in game.players">
        <td class="player">{{ player.name }}</td>
        <td v-for="([id, round], index) of rounds" :class="roundCellClass(round, player)">
          {{ roundLoss(round, player) }}
        </td>
        <td :class="gainCellClass(player)">{{ totalGain(player) }}</td>
      </tr>
    </tbody>
  </table>
  <form v-if="shouldShowRoundForm" class="data-form" @submit.prevent="saveRound">
    <h2>{{ roundFormTitle }}</h2>
    <div class="field">
      <div class="field-item" v-for="player in game.players">
        <label>{{ player.name }}</label>
        <input
          type="number"
          :value="playersLosses[player.name]"
          @input="updatePlayerLoss(player.name, $event.target.value)"
        />
      </div>
    </div>
    <div class="actions">
      <input type="submit" value="Save" />
      <button @click.prevent="cancel" class="cancel">Cancel</button>
      <button v-if="isEditing" @click.prevent="deleteRound" class="delete">Delete Round</button>
    </div>
  </form>
</template>

<style scoped>
.player {
  font-weight: bold;
}

.round:hover {
  cursor: pointer;
  text-decoration: underline;
}

.data-form {
  margin-top: 20px;
}

.data-form h2 {
  margin-bottom: 20px;
}

.won {
  color: #008000;
  font-weight: bold;
}

.lost {
  color: #ff0000;
}
</style>
