<script setup>
import { computed, defineProps } from 'vue'
import { RouterLink, useRoute } from 'vue-router'

const props = defineProps(RouterLink.props)
const route = useRoute()

const isCurrentPath = computed(() => {
  return route.path == props.to
})
</script>

<template>
  <span v-if="isCurrentPath" class="breadcrumb-link current"><slot /></span>
  <RouterLink v-else v-bind="props" class="breadcrumb-link"><slot /></RouterLink>
</template>

<style scoped>
.breadcrumb-link {
  color: var(--primary-color);
}

a.breadcrumb-link {
  text-decoration: none;
}

a.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-link.current {
  font-weight: bold;
}
</style>
