<script setup>
import { useBreadcrumbsStore } from '@/stores/breadcrumbs'
import BreadcrumbLink from './BreadcrumbLink.vue'

const store = useBreadcrumbsStore()
</script>

<template>
  <ul class="breadcrumbs">
    <li v-for="crumb in store.breadcrumbs">
      <BreadcrumbLink :to="crumb.link">{{ crumb.title }}</BreadcrumbLink>
    </li>
  </ul>
</template>

<style scoped>
.breadcrumbs {
  list-style: none;
  margin: 0 auto 0 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 0 0 10px;
}

li::after {
  content: '>';
  display: inline-block;
  padding: 0 0 0 10px;
}

li:last-child::after {
  display: none;
}
</style>
