<script setup>
import { useStore } from '@/stores/main'

const store = useStore()
</script>

<template>
  <div class="toggle-container" @click="store.toggleDarkMode">
    <div :class="{ toggle: true, toggled: store.isDarkMode }"></div>
  </div>
</template>

<style scoped>
.toggle-container,
.toggle {
  border-radius: 4px;
}

.toggle-container {
  border: 1px solid var(--primary-color);
  height: 30px;
  padding: 2px;
  width: 60px;
}

.toggle {
  background: var(--primary-color);
  border-radius: 2px;
  height: 30px;
  width: 30px;
  transition: margin-left 0.5s ease;
}

.toggle.toggled {
  margin-left: 30px;
}
</style>
