:root {
  --primary-color: #000;
  --secondary-color: #fff;
  background: var(--secondary-color);
  color: var(--primary-color);
}

:root.dark-mode {
  --primary-color: #b4a5a5;
  --secondary-color: #151515;
}

:root.transition-enabled {
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

input[type='text'],
input[type='number'] {
  color: var(--primary-color);
  background: none;
  border-radius: 0;
  border: 2px solid var(--primary-color);
  padding: 5px;
  -webkit-appearance: none;
}

button,
input[type='submit'],
.button-link {
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  font-weight: normal;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-appearance: none;
}

.button-link:visited {
  color: var(--secondary-color);
}

button {
  cursor: pointer;
}

button.cancel {
  background: #ff0000;
  color: #fff;
}

button.delete {
  background: var(--secondary-color);
  border: 1px solid #ff0000;
  color: #ff0000;
}

a,
a:visited {
  color: var(--primary-color);
}

.page-header {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.page-title {
  margin-right: auto;
}

.page-actions a,
.page-actions button {
  margin-left: 10px;
}

.data-form {
  margin: 0;
  padding: 0;
}

.data-form .field {
  margin-bottom: 10px;
}

.data-form .field .field-item {
  margin-bottom: 5px;
}

.data-form .field .field-item:last-child {
  margin: 0;
}

.data-form .field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.data-form .field button {
  margin-top: 10px;
}

.data-form .field input + button {
  margin: 0 0 0 10px;
}

.data-form .field input[type='radio'] + label {
  display: inline;
  font-weight: normal;
  margin: 0;
}

.data-form .actions {
  border-top: 1px solid var(--primary-color);
  padding: 10px 0;
}

.data-form .actions input,
.data-form .actions button {
  margin: 0 10px 0 0;
}

.data-table {
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
}

.data-table th:first-child,
.data-table td:first-child {
  text-align: left;
}

.data-table th {
  background: var(--primary-color);
  color: var(--secondary-color);
}
