<script setup>
import { onMounted, watch } from 'vue'
import { RouterView } from 'vue-router'
import Breadcrumbs from './components/Breadcrumbs.vue'
import ModeToggle from './components/ModeToggle.vue'
import { useStore } from '@/stores/main'

const store = useStore()

onMounted(() => {
  if (store.isDarkMode) {
    document.documentElement.classList.add('dark-mode')
  }
})

watch(
  () => store.isDarkMode,
  () => {
    document.documentElement.classList.add('transition-enabled')
    document.documentElement.classList.toggle('dark-mode')
  }
)
</script>

<template>
  <header>
    <Breadcrumbs />
    <ModeToggle />
  </header>
  <div class="content">
    <RouterView />
  </div>
</template>

<style>
@import './assets/base.css';

header {
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  padding: 20px;
}

.content {
  padding: 20px;
}
</style>
